/* Esta página solo tiene el estilo de la home  */
/* Cada página que no sea la home tiene su propio estilo interno dentro de si misma */

#body {background-color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;}

header {display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;}

img {display: flex;
        width: 150px;
        margin-left: 30px;
        margin-top: 30px;}

#pestañas ul {display: flex;
                justify-content: center;}

#pestañas ul li {margin-left: 30px;
                list-style: none;}

#pestañas ul li a {text-decoration: none;
                        cursor: pointer;
                        color: #fff;}

#pestañas ul a:hover {color: purple;}

#pestañas ul li:last-child {margin-right: 0%;}

.lista {display: flex;
        justify-content: center;}

.lista li {margin-right: 30px;
        list-style: none;}

.lista li a {text-decoration: none;
                cursor: pointer;
                color: #fff;}

.lista li a:hover {color: purple;}

.menu-toggle {display: none;
                cursor: pointer;
                color: #fff;}

.tituloprincipal {color: white;
                text-align: center;
                font-size: 36px;}

.palabradestacada {color: rgb(75, 8, 131);}

.conteiner {display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: white;}

.noticias {display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
        box-sizing: border-box;}

.articulo {flex: 0 0 calc(33.33% - 10px);
        text-align: center;
        padding: 5%;
        background-color: grey;
        border-radius: 20px;
        box-shadow: 5px 5px 2.5px rgb(62, 62, 62);}

p {color: white;}

.art-img {max-width: 50%;
        height: 25%;
        padding: 0%;}

.btn-art {margin-top: 10px;
        background-color: white;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;}

.btn-art:hover {color: violet;}

.cambiarcolor:active {background-color: rgb(73, 0, 128);}

.parrafoexterior {margin: 10px 0px 10px 30px;
        text-align: left;
        font-weight: 10;}

footer p {margin: 10px 0px 10px 30px;
        text-align: left;
        font-weight: 10;
        color: #fff;}

footer a {text-decoration: none;
        color: rgb(74, 16, 140);}

/*Abajo de este comentario empieza el CSS de los códigos que se escriben con @*/
@media screen and (max-width: 768px) 
{#pestañas {display: none;
        flex-direction: column;
        background-color: grey;
        position: absolute;
        top: 60px;
        left: 0%;
        right: 0%;}

#pestañas.active {display: flex;}

.menu-toggle {display: block;
                font-size: 24px;
                margin-right: 20px;
                color: #fff;}}

@media screen and (min-width: 768px)
{.tituloprincipal {font-size: 48px;}

.conteiner {display: flex;
                justify-content: center;}}

@keyframes slideAnimation { 0% {left: 0%;}
                                100% {left: 100%;}}

.movimiento {color: #fff;
                margin-left: 30px;
                margin-right: 30px;
                position: relative;
                animation: slideAnimation 5s linear infinite;}
/*Tuve un problema con el código que está arriba de este comentario. No puedo hacer que no se me salga de la pantalla, revisé todo lo que entendí pero no encuentro el problema*/
