/* Esta página solo tiene el estilo de la home  */
/* Cada página que no sea la home tiene su propio estilo interno dentro de si misma */

* {margin: 0px;
    padding: 0px;}

body {background-color: black;
    font-family: Georgia;}

img {display: flex;
    width: 100px;
    margin-left: 30px;
    margin-top: 30px;}

.list {display: flex;
    margin-top: 0px;
    margin-left: 30px;
    justify-content: center;}

.list li {margin-right: 30px;
            list-style: none;
            color: #fff;}

.list li a {text-decoration: none;
            cursor: pointer;
            color: #fff;}

.list li a:hover {color: purple;}

.list2 li {margin-left: 30px;
            list-style: none;
            color: #fff;}

.list2 li a {text-decoration: none;
            cursor: pointer;}

.list2 li a:hover {color: purple;}

h1 {color: #fff;
    text-align: center;}

.conteiner {display: flex;
            flex-direction: column;
            margin-top: 15px;
            margin-left: 15px;
            justify-content: space-between;
            align-items: left;
            color: #fff;}

.noticias {display: flex;
            flex-direction: row;
            margin-top: 15px;}

.articulo {text-align: center;
            margin-left: 10px;
            width: 150px;
            height: 150px;
            background-color: #fff;
            border-radius: 10;
            box-shadow: 5px 10px 5px -5px #fff;}

.movimiento p {color: #fff;
                margin-left: 30px;}

.articulo5 {text-align: center;
            margin-top: 0px;
            margin-left: 10px;
            width: 150px;
            height: 150px;
            background-color: #fff;
            border-radius: 10;
            box-shadow: 5px 10px 5px -5px #fff;}

.articulo6 {text-align: center;
            margin-top: 0px;
            margin-left: 10px;
            width: 150px;
            height: 150px;
            background-color: #fff;
            border-radius: 10;
            box-shadow: 5px 10px 5px -5px #fff;}

p {color: #000;}

.art-img {width: 100px;}

.art-img5 {width: 80px;}

.art-img6 {width: 80px;}

.btn-art {margin-top: 10px;
        background-color: gray;
        border-radius: 5px;
        width: 150px;
        height: 30px;
        font-weight: 150;
        cursor: pointer;}

.btn-art3 {margin-top: 20px;
            background-color: gray;
            border-radius: 5px;
            width: 150px;
            height: 30px;
            font-weight: 150;
            cursor: pointer;}

.btn-art4 {margin-top: 30px;
            background-color: gray;
            border-radius: 5px;
            width: 150px;
            height: 30px;
            font-weight: 150;
            cursor: pointer;}

.btn-art:hover {color: purple;}

.contact {margin: 80px 0px 50px 0px;
            height: 500px;
            display: flex;
            justify-content: center;}

form {width: 500px;
        height: 100px;
        border-radius: 15px;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 30px;}

form .text-area {width: 500;
                height: 100px;
                color: #000;}

form .btn-submit {width: 50%;
                    height: 30px;
                    border-radius: 10px;
                    background-color: gray;}

form .btn-submit2 {width: 50%;
                    height: 30px;
                    border-radius: 10px;
                    background-color: gray;}

.btn-submit:hover {color: purple;}

.btn-submit2:hover {color: purple;}

label {color: #fff;}

textarea {vertical-align: top;}

footer {color: #fff;}

.foot {margin: 10px 0px 10px 30px;
    display: flex;
    justify-content: center;}

.foot li {justify-content: center;
        list-style: none;
        margin-right: 30px;
        font-weight: 300;}

.foot li a {text-decoration: none;
        cursor: pointer;}

.foot li a:hover {color: purple;}

footer h3 {margin: 10px 0px 10px 30px;
            text-align: left;
            font-weight: 10;}

footer a {text-decoration: none;
            color: pink;}